@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Documentation</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to the employee documentation app!</h2>
        <p>
            This app lets you store all of your documention for each member of your team. You can view previous documentation and create new entries. 
        </p>
    </div>
</div>